ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.Service.IntegrationTest/Service References/DataLocalizerSvc/DataLocalizerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" />
  <xs:element name="GetLocalesByTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="request" nillable="true" type="q1:GetLocalesByTableRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalesByTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="GetLocalesByTableResult" nillable="true" type="q2:GetLocalesByTableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalesByRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="request" nillable="true" type="q3:GetLocalesByRowRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalesByRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="GetLocalesByRowResult" nillable="true" type="q4:GetLocalesByRowResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLocales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="request" nillable="true" type="q5:SaveLocalesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLocalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" minOccurs="0" name="SaveLocalesResult" nillable="true" type="q6:SaveLocalesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>