ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.Service.IntegrationTest/Service References/AuthManagementSvc/AuthManagementService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Pars.Util/Puma/Service/AuthManagement/AuthManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" />
  <xs:import schemaLocation="https://localhost/Pars.Util/Puma/Service/AuthManagement/AuthManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" />
  <xs:element name="GetClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q1:ClaimListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="GetClaimsResult" nillable="true" type="q2:ClaimListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsByClaimRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q3:UserGroupRelationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsByClaimRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="GetUserGroupsByClaimRefResult" nillable="true" type="q4:UserGroupRelationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q5:ClaimSaveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="SaveClaimResult" nillable="true" type="q6:ClaimSaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesByClaimRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q7:GetRolesByClaimRefRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesByClaimRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="GetRolesByClaimRefResult" nillable="true" type="q8:GetRolesByClaimRefResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q9:SaveRoleRelationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="SaveRoleRelationResult" nillable="true" type="q10:SaveRoleRelationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsLookupByStartingName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q11:GetRolesByStartingNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsLookupByStartingNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" minOccurs="0" name="GetRolesAsLookupByStartingNameResult" nillable="true" type="q12:LookupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsLookupByContainingName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.AuthManagement" minOccurs="0" name="request" nillable="true" type="q13:GetRolesByContainingNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsLookupByContainingNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" minOccurs="0" name="GetRolesAsLookupByContainingNameResult" nillable="true" type="q14:LookupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>