ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.ESB.Api/Connected Services/UserServicePublic/UserServicePublic3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pars.Util.Management" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pars.Util.Management" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UserType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Domain" />
      <xs:enumeration value="Supplier" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:simpleType name="PartyType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Supplier" />
      <xs:enumeration value="Customer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PartyType" nillable="true" type="tns:PartyType" />
  <xs:simpleType name="SynchSource">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ActiveDirectory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SynchSource" nillable="true" type="tns:SynchSource" />
</xs:schema>