ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.UI.Mvc/Service References/DataLocalizerSvc/DataLocalizerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" />
  <xs:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" />
  <xs:complexType name="GetLocalesByTableRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q1:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="languages" nillable="true" type="q2:ArrayOfint" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="value" nillable="true" type="q3:DataLocalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLocalesByTableRequest" nillable="true" type="tns:GetLocalesByTableRequest" />
  <xs:complexType name="GetLocalesByTableResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q4:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="value" nillable="true" type="q5:DataLocalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLocalesByTableResponse" nillable="true" type="tns:GetLocalesByTableResponse" />
  <xs:complexType name="GetLocalesByRowRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q6:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="languages" nillable="true" type="q7:ArrayOfint" />
          <xs:element minOccurs="0" name="objectRef" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLocalesByRowRequest" nillable="true" type="tns:GetLocalesByRowRequest" />
  <xs:complexType name="GetLocalesByRowResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q8:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="value" nillable="true" type="q9:DataLocalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLocalesByRowResponse" nillable="true" type="tns:GetLocalesByRowResponse" />
  <xs:complexType name="SaveLocalesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q10:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="value" nillable="true" type="q11:DataLocalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveLocalesRequest" nillable="true" type="tns:SaveLocalesRequest" />
  <xs:complexType name="SaveLocalesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" base="q12:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="isSuccess" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveLocalesResponse" nillable="true" type="tns:SaveLocalesResponse" />
</xs:schema>