ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.UI.Mvc/Service References/DataLocalizerSvc/DataLocalizerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataLocalizerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007FederationHttpBinding_IDataLocalizerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                <Address xmlns="http://www.w3.org/2005/08/addressing">https://stsdev.lcwaikiki.com/sts/issue/wstrust/mixed/certificate</Address>
                <Metadata xmlns="http://www.w3.org/2005/08/addressing">
                  <Metadata xmlns="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <wsx:MetadataSection xmlns="">
                      <wsx:MetadataReference>
                        <Address xmlns="http://www.w3.org/2005/08/addressing">https://stsdev.lcwaikiki.com/sts/issue/wstrust/mex</Address>
                      </wsx:MetadataReference>
                    </wsx:MetadataSection>
                  </Metadata>
                </Metadata>
              </Issuer>
              <sp:RequestSecurityTokenTemplate>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.DataLocalizer" />
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service" />
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataLocalizerService_GetLocalesByTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalesByTable" />
  </wsdl:message>
  <wsdl:message name="IDataLocalizerService_GetLocalesByTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalesByTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLocalizerService_GetLocalesByRow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalesByRow" />
  </wsdl:message>
  <wsdl:message name="IDataLocalizerService_GetLocalesByRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalesByRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLocalizerService_SaveLocales_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLocales" />
  </wsdl:message>
  <wsdl:message name="IDataLocalizerService_SaveLocales_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLocalesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataLocalizerService">
    <wsdl:operation name="GetLocalesByTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLocalizerService/GetLocalesByTable" message="tns:IDataLocalizerService_GetLocalesByTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLocalizerService/GetLocalesByTableResponse" message="tns:IDataLocalizerService_GetLocalesByTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalesByRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLocalizerService/GetLocalesByRow" message="tns:IDataLocalizerService_GetLocalesByRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLocalizerService/GetLocalesByRowResponse" message="tns:IDataLocalizerService_GetLocalesByRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLocales">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLocalizerService/SaveLocales" message="tns:IDataLocalizerService_SaveLocales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLocalizerService/SaveLocalesResponse" message="tns:IDataLocalizerService_SaveLocales_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007FederationHttpBinding_IDataLocalizerService" type="tns:IDataLocalizerService">
    <wsp:PolicyReference URI="#WS2007FederationHttpBinding_IDataLocalizerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocalesByTable">
      <soap12:operation soapAction="http://tempuri.org/IDataLocalizerService/GetLocalesByTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalesByRow">
      <soap12:operation soapAction="http://tempuri.org/IDataLocalizerService/GetLocalesByRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLocales">
      <soap12:operation soapAction="http://tempuri.org/IDataLocalizerService/SaveLocales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataLocalizerService">
    <wsdl:port name="WS2007FederationHttpBinding_IDataLocalizerService" binding="tns:WS2007FederationHttpBinding_IDataLocalizerService">
      <soap12:address location="https://tayfunesmerw8.lcwaikiki.local/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://tayfunesmerw8.lcwaikiki.local/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>