ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.Service.IntegrationTest/Service References/UserSvc/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Pars.Util/Puma/Service/User/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" />
  <xs:complexType name="UserSearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchRequest" nillable="true" type="tns:UserSearchRequest" />
  <xs:complexType name="UserSearchResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchResponse" nillable="true" type="tns:UserSearchResponse" />
  <xs:complexType name="UserListResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" minOccurs="0" name="Users" nillable="true" type="q2:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserListResponse" nillable="true" type="tns:UserListResponse" />
</xs:schema>