ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.UI.Mvc/Service References/ParsMail/EmailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://parsdevapp.lcwaikiki.local/Pars.Common/EmailService/Service/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pars.Common.EmailService.Shared" />
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Common.EmailService.Shared" minOccurs="0" name="request" nillable="true" type="q1:MailSendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>