ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.Service.IntegrationTest/Service References/SupplierSvc/SupplierService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
  <xs:complexType name="Supplier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainBaseOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="partyRef" type="xs:int" />
          <xs:element minOccurs="0" name="supplierCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="supplierRef" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="DomainBaseOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DomainBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Domain" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HasChanged" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainBaseOfint" nillable="true" type="tns:DomainBaseOfint" />
  <xs:complexType name="ArrayOfSupplierUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierUser" nillable="true" type="tns:SupplierUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierUser" nillable="true" type="tns:ArrayOfSupplierUser" />
  <xs:complexType name="SupplierUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainBaseOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupplierUser" nillable="true" type="tns:SupplierUser" />
</xs:schema>