ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.Service.IntegrationTest/Service References/SupplierSvc/SupplierService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Pars.Util/Puma/Service/Supplier/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" />
  <xs:element name="GetSuppliersFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="request" nillable="true" type="q1:GetSuppliersFilteredRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="GetSuppliersFilteredResult" nillable="true" type="q2:GetSuppliersFilteredResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="request" nillable="true" type="q3:GetSupplierUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="GetSupplierUsersResult" nillable="true" type="q4:GetSupplierUsersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="request" nillable="true" type="q5:GetSupplierRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pars.Util.Puma.Service.Supplier" minOccurs="0" name="GetSupplierResult" nillable="true" type="q6:GetSupplierResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>