ParsFramework/Util/Main/Pars.Util.Puma/Pars.Util.Puma.UI.Mvc/Service References/ParsUser/UserServicePublic10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Pars.Util.Management.Service.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pars.Util.Management.Service.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://parsdevapp.lcwaikiki.local/Pars.Util/Management/Service/UserServicePublic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NewUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartyRef" type="xs:int" />
      <xs:element minOccurs="0" name="PwdHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestUid" type="ser:guid" />
      <xs:element minOccurs="0" name="ResponseUid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRef" type="xs:int" />
      <xs:element minOccurs="0" name="UserUid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewUserResponse" nillable="true" type="tns:NewUserResponse" />
</xs:schema>